body {
  background: #4A96AD !important  ;
  -webkit-font-smoothing: antialiased;
  padding: 40px;
  text-align: center;
}

.active {
  background: #FF735C !important;
}

.btBtn {
  color: #fff;
  background-color: #7D1935;
  border-color: #0275d8;
  padding: .75rem 1.5rem;
  font-size: 1.25rem;
  border-radius: .3rem;
}

.ng-cloak { 
  display: none !important;
}