<!DOCTYPE html>
<html >
<head>
  <meta charset="UTF-8">
  <title>Angular: Toggle a Class on Click</title>

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">


      <link rel="stylesheet" href="css/style.css">


</head>

<body>
  <div ng-app="classApp" ng-controller="classCtrl">
    {{number}}
    <div ng-repeat="item in items.slice(0, 10)">
      {{item}} asdfdffd

    </div>
<button class="button" ng-class="{'active': isActive1}" ng-click="activeButton1()" type="button">Click Me to Toggle Class</button>
    <button class="button" ng-class="{'active': isActive2}" ng-click="activeButton2()" type="button">Click Me to Toggle Class</button>
    <button class="button" ng-class="{'active': isActive3}" ng-click="activeButton3()" type="button">Click Me to Toggle Class</button>
    <button class="button" ng-class="{'active': isActive4}" ng-click="activeButton4()" type="button">Click Me to Toggle Class</button>
  </div>
  <script src='https://ajax.googleapis.com/ajax/libs/angularjs/1.2.9/angular.min.js'></script>

    <script src="js/index.js"></script>

</body>
</html>
